In [13]:
import sqlite3
import re
import openai
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# Set up the connection to your database
conn = sqlite3.connect('car_company_database/Car_Database.db')
cursor = conn.cursor()

# OpenAI GPT-3.5 Chat-based model

openai.api_key = 'Add API key'
#model = "gpt-3.5-turbo"


# Define the SQL query functions
def query_executor(query):
    try:
        cursor.execute(query)
        results = cursor.fetchall()
        return results
    except Exception as e:
        return str(e)

    
# Define the natural language interface using OpenAI API
def generate_sql_query(query):
    response = openai.Completion.create(
        engine="text-davinci-003",
        prompt=query,
        max_tokens=100,
        n=1,
        stop=None,
        temperature=0.7,
        top_p=1.0,
        frequency_penalty=0.0,
        presence_penalty=0.0
    )
    return response.choices[0].text.strip()

+-------------------+          +------------------------+          +--------------------+
| User's Natural    |    -->   | Text-to-SQL Interface  |    -->   | Database System    |
| Language Query    |          |                        |          |                    |
+-------------------+          +------------------------+          +--------------------+

In [14]:
def test_process(text):
    '''
    Take natural language and genrate SQL query 
    (str) => (str, str)
    '''
    sql_script = generate_sql_query(text)
    data = query_executor(sql_script)
    print(sql_script)
    print(data)

In [15]:
# Test query 1
test_process("Get all records from the Brands table")

SELECT * FROM Brands;
[(1, 'Cover Squirrel'), (2, 'Supreme'), (3, 'Yellow'), (4, 'Ferrari'), (5, 'Boujiee'), (6, 'Freshest')]

In [16]:
# Test query 2
test_process("Show all Models from the Models table")

SELECT *
FROM Models;
[(1, 'The Blonde', 23000, 1), (2, 'The Brunette', 25000, 1), (3, 'The Red Head', 29000, 1), (4, 'Hat', 22000, 2), (5, 'Sweater', 25000, 2), (6, 'T-Shirt', 27000, 2), (7, 'Orange', 15000, 3), (8, 'Blue', 12000, 3), (9, 'Green', 17000, 3), (10, 'LaFerrari', 125000, 4), (11, '450', 75000, 4), (12, 'F12 Berlinetta', 110000, 4), (13, 'F40', 100000, 4), (14, 'Extra', 30000, 5), (15, 'Too Much', 35000, 5), (16, 'Beats', 24000, 6), (17, 'Bars', 35000, 6)]

In [28]:
# Test query 3
test_process("Show the dealer_names of all Dealers from Dealers table")

SELECT dealer_name FROM Dealers;
[('Joes Autos',), ('Priority X',), ('Priority Y',), ('Priority Z',)]

In [17]:
# Test query 4
test_process("How many unique Dealers do we have in the Dealers table")

There are 16 unique dealers in the Dealers table.
near "There": syntax error

In [18]:
# Test query 5
test_process("Find all Customers that own a certain brand of Car. Consider joining on the customer_id column to connect Customer_Ownership and Customers table")

SELECT Customers.customer_name
FROM Customers
INNER JOIN Customer_Ownership
ON Customers.customer_id = Customer_Ownership.customer_id
WHERE Customer_Ownership.brand = 'BrandName'
no such column: Customers.customer_name

In [ ]:
#"What is the average Household income for each gender in the Customer table

In [19]:
# Test query 6
query6 = "Generate several queries to show the nost interesting things about the data also generate corresponding SQL queries"
sql_query6 = generate_sql_query(query6)
response6 = query_executor(sql_query6)
print(sql_query6)
print(response6)

1. What is the average number of songs per album in the dataset?

SELECT AVG(song_count)
FROM albums;

2. Who are the top 10 most popular artists in the dataset?

SELECT artist, COUNT(*) AS popularity
FROM albums
GROUP BY artist
ORDER BY popularity DESC
LIMIT 10;

3. What are the five most popular genres in the dataset?
near "1.": syntax error